body {
	background-color: #312f33;
	color:white;
}

a, a:hover, a:visited {
   outline: none !important;
}

a:hover {
	color:#ff6;
	text-decoration: none;
}

.navbar {
	background-color: #141314;
}

.nav a {
	font-size:18px;
}

.nav li a b {
	color:#aaa;
}

.nav li.active a b, .nav li a:hover b {
	color:#ffff66;
}

.dave {
	background-image:url('../img/dave.jpg');
	background-size:contain;
	background-position:top;
	background-repeat:no-repeat;
	width:300px;
	height:403px;
	margin:20px;
	display:table-cell;
}

h1 {
	font-size: 60px;
}

h2, h3, h4, h5 {
	font-weight: normal;
}

h5 {
	margin-bottom: 0px;
	color:#8c8693;
}

.main {
	margin:20px;
}

.content {
	font-size:16px;
	padding:20px;
}

#footer {
	text-align:center;
	padding-top: 18px;
	font-size: 18px;
}

#footer a {
	color:white;
	white-space: nowrap;
}

#footer i {
	font-size:120%;
	display: inline-block;
	margin-right:8px;
	margin-left:16px;
}

#footer a:hover {
	color:#ff6;
}

#footer a>i {
	color:#08c;
}

#downloads {
	display:inline-block;
	padding:8px;
	border-radius: 8px;
	background-color:rgba(255,255,255,.05);
	font-size:12px;
}

#resume_text {
	max-width:60em;
	font-size:13px;
}

@media all and (max-width:800px) {
	.dave {width:200px;height:267px;}
	h1 {font-size:36px;}
	h2 {font-size:22px;}
}

@media all and (max-width: 600px) {
	.main {margin:4px;}
	.content {margin:8px;}
	.dave {display:none;}
}
