html {
	/* prevent content jumping when scrollbars appear */
	overflow: -moz-scrollbars-vertical;
	overflow-y:scroll;
}

body {
    font-family: open-sans, sans-serif;
	background-color: #312f33;
	color:white;
}

.navbar, h1, h2, h3, h4, h5, #footer {
        font-family: arvo, sans-serif;
      }

a, a:hover, a:visited {
   outline: none !important;
}

a:hover {
	color:#ff6;
	text-decoration: none;
}

.navbar {
	background-color: #141314;
}

ul.nav a {
	font-family: open-sans,sans-serif;
	font-size:18px;
}

.nav li a b {
	color:#aaa;
}

.nav li.active a b, .nav li a:hover b {
	color:#ffff66;
}

.dave {
	background-image:url('../img/dave.jpg');
	background-size:contain;
	background-position:top;
	background-repeat:no-repeat;
	width:300px;
	height:400px;
	display:table-cell;
}

h1 {
	font-size: 60px;
}

h2, h3, h4, h5 {
	font-weight: normal;
}

h5 {
	color:#8c8693;
}

.main {
	width:960px;
	display:table;
	border-spacing:20px;
	margin:auto;
	padding-top:60px;
}

.content {
	width:600px;
	font-size:16px;
	height:410px;
}

#footer {
	text-align:center;
	padding: 18px;
	font-size: 18px;
}

#footer a {
	color:white;
	white-space: nowrap;
}

#footer i {
	font-size:120%;
	display: inline-block;
	margin-right:8px;
	margin-left:16px;
}

#footer a:hover {
	color:#ff6;
}

#footer a>i {
	color:#08c;
}

#downloads, #sitemap {
	display:inline-block;
	padding:8px;
	border-radius: 8px;
	background-color:rgba(255,255,255,.06);
}

#downloads {
	font-size:12px;
}

#resume_text {
	max-width:580px;
	font-size:13px;
}

/* begin ICONFONT */
 
@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format('embedded-opentype'), url("../font/iconfont.woff") format('woff'), url("../font/iconfont.ttf") format('truetype'), url("../font/iconfont.svg#iconfont") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'iconfont';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-phone:before { content: '\e7b0'; } /* '' */

/* end ICONFONT */

@media all and (max-width:959px) {
	.main {width:800px;}
	.dave {width:200px;height:267px;}
	.content {width:640px;}
	h1 {font-size:36px;}
	h2 {font-size:22px;}
}

@media all and (max-width:799px) {
	.main {width:600px;border-spacing:10px;}
	.content {width:380px;}
}

@media all and (max-width: 599px) {
	.main {width:auto;border-spacing:6px;}
	.content {width:auto;}
	.dave {display:none;}
}
